.list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 12px;
  margin-right: 12px;
}
.text {
  text-align: center;
  margin-top: 64px;
}
